* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.backimg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
}

.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vh;
}

.form {
    height: 40vh;
    width: 40vh;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.356);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    gap: 0.7vh;
    border-radius: 30%;
    box-shadow:5px 5px 500px rgb(255, 0, 140);
    border: 0.8px solid rgb(255, 0, 140) ;
}

.username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2vh;
    font-size: 2.5vh;
    
}

.userpass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2vh;
    font-size: 2.5vh;
}
#pass{
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 20px;
    border: solid 2px rgb(235, 106, 192);
    height: 2.5vh;
    padding: 5px;
    text-align: center;
    

}
#name{
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 20px;
    border: solid 2px rgb(235, 106, 192);
    height: 2.5vh;
    padding: 5px;
    text-align: center;
}
.enterbutton{
    height: 3vh;
    width: 7vh;
    background-color: rgba(255, 0, 170, 0.15);
    border: solid 1px  rgb(255, 0, 170);
    border-radius: 30%;
    margin: 1vh;
}
#h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    color:rgb(255, 0, 170); ;
}
input{
    background-color:  rgba(255, 0, 170, 0.15);

}